/* -------------- VARIABLES --------------  */

:root {
    --color-dark: #05141a;
    --color-medium: #0b2f3d;
    --color-bright: #1f81a4;
    --txt-color: #FFFFFF;
    --font-big: 4rem;
    --font-medium: 2rem;
    --font-small: 1.2rem;
    --board-size: 4;
}

/* -------------- GENERAL --------------  */

* {
    color: var(--txt-color);
    font-family: monospace;
    margin: 0;
}

body {
    background-color: var(--color-dark);
    height: 100vh;
    overflow: hidden;
}

input {
    background-color: var(--color-dark);
    border: 2px solid var(--color-medium);
    border-radius: 5px;
    padding: 5px;
    font-size: var(--font-small);
}

label {
    display: flex;
    align-items: center;
    font-size: var(--font-small);
}

button {
    background-color: var(--color-bright);
    border: none;
    border-radius: 5px;
    padding: 8px;
    width: 100px;
    aspect-ratio: 3;
    font-size: var(--font-medium);
    text-align: center;
    line-height: 50%;
}

/* -------------- GAME FIELD --------------  */

#game-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    aspect-ratio: 1;
    background-color: var(--color-medium);
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(var(--board-size), 1fr);
    gap: 6px;
    padding: 2rem;
}

.tile-container {
    background-color: var(--color-bright);
    border-radius: 15px;
    display: grid;
    place-items: center;
    font-size: var(--font-big);
    user-select: none;
    font-weight: bold;
    position: relative;
}

.tile-container.held {
    transform: scale(97%);
}

.tile {
    width: 70%;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
}

.line {
    position: absolute;
    width: calc(450px / var(--board-size) + 3px);
    height: 15px;
    background-color: var(--color-bright);
    border-radius: 20px;
    opacity: 0.8;
    z-index: 100;
}

/* -------------- SCORE FIELD --------------  */

#score-container {
    background-color: var(--color-bright);
    margin-left: calc(50vw - 400px / 2);
    margin-top: 5vh;
    width: 400px;
    height: 100px;
    border-radius: 25px;
    position: relative;
    font-weight: bold;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#word-text {
    font-size: var(--font-small);
    margin-left: 25%;
}

#score-text {
    font-size: var(--font-medium);
    margin-left: 25%;
}

#timer {
    position: absolute;
    right: 0;
    bottom: calc(-1 * var(--font-medium) - 4px);
    right: var(--font-medium);
    font-size: var(--font-medium);
}

/* -------------- WORD BOX --------------  */

.word-box {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -125%);
    background-color: #444;
    padding: 10px;
    text-transform: uppercase;
    font-size: var(--font-medium);
    border-radius: 20px;
    font-weight: bold;
}

.word-box.fade-away {
    transition: opacity 0.5s, transform 0.5s;
    opacity: 0;
    transform: translate(-50%, -200%) scale(125%);
}

/* -------------- SEED CONTAINER --------------  */

#seed-container {
    display: none;
    grid-template-columns: 0.5fr 1fr;
    position: absolute;
    bottom: 0;
    left: 0;
    gap: 4px;
    max-width: 75%;
}

#seed-container > input {
    width: 75%;
}

#play-button {
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
}

/* -------------- LOADING --------------  */

#hidden {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* -------------- SHOW WORDS --------------  */

#show-words {
    display: none;
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);
    width: 164px;
}

#word-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    background-color: var(--color-dark);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#close-words {
    position: fixed;
    bottom: 0;
    left: 0;
}

/* -------------- DAILY BUTTON --------------  */

#daily-button {
    position: absolute;
    bottom: calc(100px / 3 + 4px);
    right: 0;
    display: none;
}

/* -------------- SHARE BUTTON --------------  */

#copy-button {
    position: absolute;
    bottom: 170px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
